[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "==0.10.3"
transitions = "==0.6.9"
line-bot-sdk = "==1.14.0"
Flask = "*"
beautifulsoup4 = "==4.10.0"
fake-useragent = "==0.1.11" 

[requires]
python_version = "3.8"
